{% extends 'core/base.html' %}
{% block title %}詢價單{% endblock %}
{% block content %}
    <header><h1>我的詢價單</h1></header>
    <hr style="padding-bottom: 50px; width: 70%; align-items: center;">
    <div class="product-list">
        {% for item in cart_items %}
            <div class="product-item">
                <p><strong>{{ item.item_name }}</strong></p>
                <p>需求數量：{{ item.quantity }}</p>
                <p>規格：{{ item.specification }}</p>
                <a href="{% url 'cart:remove_from_cart' item.item_id %}" class="remove-btn">移除品項</a>
            </div>
        {% empty %}
        {% endfor %}
    </div>
    {% if cart_items %}
        <p><strong>請填寫聯繫資料，我們會透過電子郵件回傳報價單。</strong></p>
        <form class="client-info" action="{% url 'cart:submit_quotation' %}" method="post">
            {% csrf_token %}
            <label for="username">公司名稱：</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="email">電子郵件:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="phonenum">連絡電話:</label><br>
            <input type="text" id="phonenum" name="phonenum" required><br>
            <button type="submit" class="btn">送出詢價單</button>
        </form>
    {% endif %}
    
    <a href="{% url 'item:items' %}" class="find-other-link">查看其他商品</a>

{% endblock %}
