{% extends 'core/base.html' %}
{% block title %}詢價單{% endblock %}
{% block content %}
    <h1>您的詢價單</h1>

    <div class="product-list">
        {% for item in cart_items %}
            <div class="product-item">
                <p>{{ item.item.name }} ({{ item.quantity }})</p>
                <p>規格：{{ item.specification }}</p>
                <!-- 添加字段，以便用户可以编辑规格
                <form action="{% url 'cart:update_specification' item.id %}" method="post"> -->
                    <!-- {% csrf_token %}
                    <label for="specification_{{ item.id }}">更新规格:</label>
                    <textarea id="specification_{{ item.id }}" name="specification" class="input-section" required>{{ item.specification }}</textarea>
                    <input type="submit" value="更新规格">
                </form> -->
                <a href="{% url 'cart:remove_from_cart' item.id %}">移除品项</a>
            </div>
        {% empty %}
            <p>您的詢價單是空的</p>
        {% endfor %}
    </div>

    <form action="{% url 'cart:submit_quotation' %}" method="post">
        {% csrf_token %}
        <label for="email">電子郵件:</label>
        <input type="email" id="email" name="email" required><br>
        <input type="submit" value="送出詢價單">
    </form>
    
    <a href="{% url 'item:items' %}">查看其他商品</a>

{% endblock %}