<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>丞竑貿易｜{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav-bar">
        <a href="/"><h1 class="logo">丞竑貿易有限公司</h1></a>
        <div>
            <a href="/" class="nav-item">首頁</a>
        </div>
        <div>
            <a href="{% url 'item:items' %}" class="nav-item">瀏覽商品</a>
        </div>
        <div>
            <a href="{% url 'core:contact' %}" class="nav-item">聯繫我們</a>
        </div>
        <div>
            <a href="{% url 'core:filedownload' %}" class="nav-item">檔案下載</a>
        </div>
        <div>
            <a href="{% url 'cart:view_cart' %}" class="nav-item">詢價單</a>
        </div>
    </nav>
    
{% block content %}
{% endblock %}
    <footer>
        <div class="info-srction">
            <p><strong>地址：</strong>高雄市大寮區光明路一段168-1號</p>
            <p><strong>電話：</strong>07-7874443</p>
            <p><strong>傳真：</strong>07-7874501</p>
            <a href="mailto:chunhung7874443@gmail.com"><strong>電子郵件：</strong>chunhung7874443@gmail.com</a>
        </div>
        
        <p>&copy;丞竑貿易有限公司</p>
    </footer>
    <div class="author">
        <a href="mailto:jj0985788718@gmail.com">design and created by: Joy Lo</a>
    </div>
</body>
</html>