{% extends 'core/base.html' %}
{% block title %}聯繫我們{% endblock %}
{% block content %}
<div class="page-banner">
    <div class="banner-container">
        <h1>聯繫我們</h1>
        <h2>若您有任何需求，歡迎與我們聯繫，我們很樂意為您服務</h2>
    </div>
</div>
<div class="contact-session">
    <div class="contact-info">
        <p>地址：高雄市大寮區光明路一段168-1號</p>
        <p>電話：</p>
        <p>傳真：</p>
        <p>電子郵件：</p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.43843138825!2d120.41230717357872!3d22.56269983333643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e1c38579c2065%3A0xe4c24367e74af41e!2zODMx6auY6ZuE5biC5aSn5a-u5Y2A5YWJ5piO6Lev5LiA5q61MTY46Jmf!5e0!3m2!1szh-TW!2stw!4v1722615688283!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></a>
    </div>    
</div>
{% endblock %}