{% extends 'core/base.html' %}
{% block title %}
首頁
{% endblock %}
{% block content %}
<div>
    <!--創建Search Bar-->
</div>
<div class="header-slider">
    <!-- <a href="#" class="control-prev">&#129144</a>
    <a href="#" class="control-next">&#129146</a> -->
    <ul>
        <img src="/static/assets/header2.jpg" class="header-image">
    </ul>
</div>
<section class="about-page">
    <header>
        <h1>關於我們</h1>
        <p style="text-align: center;">丞竑貿易有限公司是金口凡而的南部經銷商，至今已營運十幾年。<br>我們提供多樣化的產品選擇，致力於協助您在生產與營運上的品質與效率提升。</p>
    </header>
    
    
    <div class="about-content">
        <div class="feature-boxs-row">
            <div class="feature-box">
                <h2>堅持品質</h2>
                <p>堅持提供品質保證的產品，<br>讓我們的產品協助您的生產與建造。</p>
            </div>
            <div class="feature-box">
                <h2>多樣化的產品</h2>
                <p>我們提供多種類型的產品，<br>從配管、閥類到零組件皆有提供。</p>
            </div>
            <div class="feature-box">
                <h2>快速便利的服務</h2>
                <p>我們提供快速且便利的服務，<br>您的詢價單將會得到最快速的處理。</p>
            </div>
        </div>

        <div class="about-pic">
            <img src="/static/assets/header1.jpg">
        </div>
    </div>
</section>

<section class="browse-page">
    <header>
        <h1>瀏覽商品</h1>
    </header>
    <div class="box-row">
        {% for item in items %}
        <div class="box-column">
            <a href="{% url 'item:detail' item.id %}">
                {% if item.image %}
                    <img src="{{ item.image.url}}" alt="">
                {% else %}
                    <p>{{item.name}} pic shoud be uploaded</p>
                {% endif %}
                <h3>{{ item.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
    
<section class="category-page">
    <header>
        <h1>商品類別</h1>
    </header>
    <div class="box-row">
        {% for category in categories %}
        <div class="box-column">
            <a href="{% url 'item:items' %}?query={{ query }}&category={{category.id}}">
                {% if category.image %}
                <img src="{{category.image.url}}">
                {% else %}
                <img src="/static/assets/item_image_2.jpg" alt="">
                {% endif %}
                <h3>{{ category.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</section>

