{% extends 'core/base.html' %}
{% block title %}
首頁
{% endblock %}
{% block content %}
<div>
    <!--創建Search Bar-->
</div>
<div class="header-slider">
    <a href="#" class="control-prev">&#129144</a>
    <a href="#" class="control-next">&#129146</a>
    <ul>
        <img src="/static/assets/header1.jpg" class="header-image">
        <img src="/static/assets/header2.jpg" class="header-image">
        <img src="/static/assets/header3.jpg" class="header-image">
    </ul>
</div>
<div class="">
    <h1>關於我們</h1>
    <div style="display: flex;">
        <p>言哪坡二着棵跑常；和我金就牠發種長怪兩細您呢巴怕吧快怪首！以跟也植實升采內胡知。二冰女，戊結海黃這帽服在甲白回抓兩巾師細爪由種尤？間在請占發跑。
            娘尼弓勿足着校意送，很字尺收三媽中毛唱蝸？元向哥水到法尾昌雪弟尺止泉你，友登黑免哥吹文壯綠百學汁物半也免，者玉吉具毛良士記合對面封親枝，新故朵喜了筆寺兔回身河五。
            片那青吧活司實助口免抱帽乙但面躲昌對叫定火六：衣前園各祖、紅跳首又誰貝借借甲老八東個師愛。愛真旁追子朋卜弟原扒黑幾。巴頭山課住言未昌，牠可香。
            英汗田胡河申采林，着且戶追背固北嗎怪朱好玩讀杯「後」服兆事飯背采何年，力支間。</p>
        <div class="element">
            <p>Element</p>
        </div>
    </div>
    
</div>
    <h1 style="text-align: center;">瀏覽商品</h1>
    <div class="box-row">
        {% for item in items %}
        <div class="box-column">
            <a href="{% url 'item:detail' item.id %}">
                <img src="{{ item.image.url}}" alt="">
                <h3>{{ item.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
<div>
    <h1 style="text-align: center;">商品類別</h1>
</div>
<div class="box-row">
    {% for category in categories %}
    <div class="box-column">
        <a href="{% url 'item:items' %}?query={{ query }}&category={{category.id}}">
            {% if category.image %}
            <img src="{{category.image.url}}">
            {% else %}
            <img src="/static/assets/item_image_2.jpg" alt="">
            {% endif %}
            <h3>{{ category.name }}</h3>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
