{% extends 'core/base.html' %}
{% block title %}瀏覽商品{{ item.name }}
{% endblock %}
{% block content %}
    <div class="page-banner">
        <div class="banner-container">
            <div style="height: 200px;"></div>
            <h2>丞竑貿易公司提供多樣化的產品，滿足您所有的生產與製造需求</h2>
        </div>
    </div>
    <div class="row my-5">
        <h1 style="text-align: center;">商品類別</h1>
    </div>
    <div class="container">
        <div class="row align-items-start gx-5">
            {% for item in items %}
                <div class="col-3">
                    <div class="card h-100 d-flex flex-column" style="width: 18rem; border: bg-light;">
                        {% if item.image %}
                            <img src="{{item.image.url}}" class="card-img-top" style="height: 200px;" alt="{{ item.name }}">
                        {% else %}
                            <p>{{item.name}} pic shoud be uploaded</p>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ item.name }}</strong></h5>
                            {% if item.model_type %}
                                <p class="card-text">型號：{{item.model_type}}</p>
                            {% else %}
                                <p>無型號提供</p>
                            {% endif %}
                            <a href="{% url 'item:detail' item.id %}" class="btn btn-primary">查看商品細節</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if items.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}" aria-label="First">
                  <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ items.previous_page_number }}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
              </li>
              <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
              </li>
              {% endif %}
          
              {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                  </li>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}">{{ num }}</a>
                  </li>
                  {% endif %}
              {% endfor %}
          
              {% if items.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ items.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}" aria-label="Last">
                  <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
              </li>
              <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
              </li>
              {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}